app-root {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-areas:
                "nav head head"
                "nav main main"
                "nav foot foot";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}
